asn1crypto==1.4.0
cffi==1.14.5
click==8.0.4
colorama==0.4.4
cryptography==3.4.7
dataclasses==0.8
Flask==2.0.3
importlib-metadata==4.8.3
itsdangerous==2.0.1
Jinja2==3.0.3
MarkupSafe==2.0.1
pycparser==2.20
pynput==1.7.3
pyOpenSSL==20.0.1
python-xlib==0.31
six==1.16.0
typing_extensions==4.1.1
waitress==2.0.0
Werkzeug==2.0.3
zipp==3.6.0
